body{
    color:white;
    background-color: #00162E;
    :root{
        --branco: white;
        --cor-de-fundo:#00162E;
        --fundo-senha:#00244D;
        --fundo-texto:#001E40;
        --borda: #0075FF;}
        -titulo-principal{
            font-family: var(--roboto-mono)
            font-size: 32px;}
            .titulo-secundario{
                font-size: 24px;}
            .conteudo-titulo{
                    text-align: center;}
                    .{ font-weight: 400;}

}